version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Run tests
          command: npm test

  slither:
    docker:
      - image: cimg/node:18.20
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Install slither
          command: |
            pip3 install --user slither-analyzer solc-select
            echo 'export PATH="$PATH:/home/circleci/.local/bin"' >> $BASH_ENV
            export PATH="$PATH:/home/circleci/.local/bin"
            solc-select install 0.8.19
            solc-select use 0.8.19
      - run:
          name: Run slither
          command: slither contracts/TEMPL.sol

workflows:
  test:
    jobs:
      - test:
          filters:
            branches:
              only: main
      - test:
          name: test-pr
          filters:
            branches:
              ignore: main
      - slither:
          filters:
            branches:
              only: main
      - slither:
          name: slither-pr
          filters:
            branches:
              ignore: main
